!!!
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
    script(src='/javascripts/lib/jquery-1.7.2.min.js', type='text/javascript')
    script(src='/javascripts/words/create_word.js', type='text/javascript')

  body!= body